*{
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

body{
	background-image: url('bg.png');
	background-size: 100% 135%;
}

.maindiv{
	width: 100%;
	height: 100vh;
}

.maindiv h1{
	text-align: center;
	color: #ed065e;
}

.maindiv  hr{
	width: 50%;
	height: 5px;
	background-color: #0ceef8;
	position: absolute;
	top: 145px;
	border:none;
	left: 25%;
}


 .chakra{
 width: 96px;
 height: 96px;
 border:2px solid #06ed73;
 border-radius: 50%;
 margin: auto;
 }

 .chakra li{
 list-style: none;
 width: 94px;
 border: 1px solid #06ed73;
 position: relative;
 }

 li:nth-child(1){
 top: 47px;
 }

 li:nth-child(2){
 top: 45px;
 transform: rotate(90deg);
 }

 li:nth-child(3){
 top: 43px;
 transform: rotate(15deg);
 }

 li:nth-child(4){
 top: 41px;
 transform: rotate(30deg);
 }

 li:nth-child(5){
 top: 39px;
 transform: rotate(45deg);
 }

 li:nth-child(6){
 top: 37px;
 transform: rotate(60deg);
 }

 li:nth-child(7){
 top: 35px;
 transform: rotate(75deg);
 }

 li:nth-child(8){
 top: 33px;
 transform: rotate(105deg);
 }
 li:nth-child(9){
 top: 31px;
 transform: rotate(120deg);
 }

 li:nth-child(10){
 top: 29px;
 transform: rotate(135deg);
 }
 li:nth-child(11){
 top: 27px;
 transform: rotate(150deg);
 }

 li:nth-child(12){
 top: 25px;
 transform: rotate(165deg);
 }


 .rakhiandnote{
 	display: flex;
 	flex-direction: row;
 	align-items: center;
 	justify-content: center;
 	text-align: center;
 	width: 100%;
 	height: 350px;
 }


 .rakhiimage{
 	width: 500px;
 	height: 500px;

 }

 .notediv h2{
 	text-align: right;
 }

.birdfly{
	animation: fly 10s infinite;
	position: absolute;
}

@keyframes fly{
	 0%   {margin-top:-350px;}
    15%  {margin-top:-200px; margin-left: 100px;}
    30%  {margin-top:-200px; margin-left: 300px;}
    45% {margin-top:-200px; margin-left: 450px;}
    60%  {margin-top:-200px; margin-left: 300px;}
    75%  {margin-top:-200px; margin-left: 200px;}
    100% {margin-top:-200px; margin-left: 100px;}
}

.birdfly2{
	animation: flys 10s infinite;
	position: absolute;
	transform: scaleX(-1); // mirror image
}

@keyframes flys{
	 0%   {margin-top:-350px; margin-right: 100px;}
    15%  {margin-top:-250px; margin-left: -100px;}
    30%  {margin-top:-250px; margin-left: -200px;}
    45% {margin-top:-200px; margin-left: -100px;}
    60%  {margin-top:-250px; margin-left: -200px;}
    75%  {margin-top:-250px; margin-left: -150px;}
    100% {margin-top:-250px; margin-left: -100px;}
}


.notediv{
	width: 40%;
}

.rakhiimgdiv{
	width: 40%;
}

.rightbird{
	width: 10%;
}

@media (max-width: 600px){
	.leftbird{
		display: none;
	}

	.rightbird{
		display: none;
	}

	.notediv{
		width: 85%;

	}

	.rakhiimgdiv{
		width: 70%;
	}

.rakhiandnote{
 	display: flex;
 	flex-direction: column;
 	align-items: center;
 	justify-content: center;
 	text-align: center;
 	width: 100%;
 	height: 600px;
 }


 .rakhiimage{
 	width: 350px;
 	height: 350px;
 }

 .notediv h2{
 	text-align: center;
 }

}