
 
 .button{
    padding: 14px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 66px;
    height: 54px;
    font-size: x-large;
  }
  .row{
     margin: 8px 0;
     
  }